# IDE files
.idea

# Virtual Env files and directories
venv
myenv

# Logs directory of Airflow
logs

# MACOS files
.DS_Store

Practices/session_10_Fundamentals/homework/data
Practices/session_10_Fundamentals/homework/data/*
Practices/session_11_Data_load_techinques/generator/data
Practices/session_11_Data_load_techinques/generator/data/*
Practices/session_12_SQL_Reporting/generator/data

# Pycache files
__pycache__
