# MACOS files
.DS_Store

# Pycache files
*__pycache__

# Sessions practice files
Practices/*/practice_files/logs
Practices/*/practice_files/plugins
Practices/*/practice_files/dags/output/*

Practices/session_10_Fundamentals (to be reformed)/homework/data
Practices/session_10_Fundamentals (to be reformed)/homework/data/*
Practices/session_11_Data_load_techinques (to be reformed)/generator/data
Practices/session_11_Data_load_techinques (to be reformed)/generator/data/*
Practices/session_12_SQL_Reporting/generator/data
